h1{
  font-weight: 100;
}

.theBag{
  font-size: 25px;
}

.bagOpacity{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgb(0, 0, 0);
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events:none;
  z-index: 3;
  cursor: pointer;
} 

.bagContainer{
  /* position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%); */
  z-index: 1;
  position: fixed;
  top: 31px;
  right: 45px;
}

/* bag styles */
.bagHeader{
  margin-top: 20px;
  margin-bottom: auto;
}

.bagTitle{
  font-weight: 100;
  text-align: center;
}

.headerDivider{
  background-color: rgb(0 0 0);
  width: 295px;
  height: 0.5px;
  margin-top: 7px;
    margin-bottom: 10px;
}

.bagContents{
  height: 100%;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-top: 5px;
}

.bagContents::-webkit-scrollbar{
  display: none;
}

.bagFooter{
  margin-bottom: 25px;
  margin-top: auto;
}

.footerDivider{
  background-color: rgb(0 0 0);
  width: 295px;
  height: 0.5px;
  margin: 10px auto;
}

.checkOutButton{
  width: 295px;
  height: 85px;
  margin-top: 10px;
  cursor: pointer;
}

.subtotalDisplay{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

.subtotalDivider{
  background-color: rgb(0 0 0);
  width: 10px;
  height: 0.5px;
  margin: auto;
}

.xButtonContainer{
  display: flex;
  text-align: left;
}

.xButton{
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}

/* media querys */

@media (max-width: 431px){
 
}