.stars{
    
    
    animation: 1.5s anim-lineUp1 ease-out;}
    
    @keyframes anim-lineUp1 {
      0% {
          opacity: 0;
          transform: translateY(3%);
      }
      20% {
          opacity: 0;
      }
      70% {
          opacity: 1;
          transform: translateY(0%);
      }
      100% {
          opacity: 1;
          transform: translateY(0%);
      }
}

.starsContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 431px){
    .stars{
        overflow: auto;
        
        width: 350px;
        height: 350px; 
        animation: 1.5s anim-lineUp ease-out;}
    
        @keyframes anim-lineUp {
          0% {
              opacity: 0;
              transform: translateY(3%);
          }
          20% {
              opacity: 0;
          }
          70% {
            opacity: 1;
            transform: translateY(0%);
          }
          100% {
            opacity: 1;
            transform: translateY(0%);
        }
        
    }

    .starsContainer{
        display: flex;
        justify-content: center;
        
    }
}